.row, .col{
    border: 1px solid;
    border-style:solid;
  }
  
  .blockscol{
    max-width: 7%;
  }

  .container {width: 100%;
}
h1{
text-align: center;
}
.blocks {
background-color: gray;
color: black;
text-align: center;
}
.grey{background-color: gray;
text-align: center;}
.p1{background-color: #cacd97;}
.p4{background-color: #feff91;}
.p3{ background-color: #01ffcd;}
.p2{ background-color: #fbce95;}
.p5{background-color: #ffcdfe;}
.p7{background-color: #caff99;}
.p6{background-color: #9bdc88;}
.lunch{text-align: center; background-color:#ccceff;} 